label {
  text-align: right;
  width: 150px;
  display: inline-block;
}
#operations {
  margin-left: 150px;
  margin-bottom: 15px;
}
/*#main {
  position: relative;
  left: 0;
  bottom: 0;
}*/
body, #main, #operations {
  /*
  position: relative;
  */
  margin: 2px;
  padding: 2px;
}
